@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html{
	background-color: #4fa3bf2b;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header-fixed {
	background-color: transparent;
	padding: 28px 40px;
	height: 80px;
	top:-100px;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;
	color:#000000;
	font-family:champagne;
}

.header-fixed .header-limiter {
	max-width: 1200px;
}


.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	font-weight: 600;
	font-size: 70px;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #000000;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #000000;
	opacity: 0.9;
}

.header-fixed .header-limiter a:hover{
	opacity: 1;
}

.header-fixed .header-limiter {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}

#footer
{
	position: absolute;
	bottom: 0px;
	text-align: right;
	width:99vw;
	padding: 20px;
	font-size: 35px;
	font-family: spring;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}
